#weather-today-container{
    background-color: rgba(6, 3, 20, 0.5);
    color:white;
    font-weight: bold;
    height: 70vh;
}
#weather-forecast-container{

    background-color: rgba(6, 3, 20, 0.5);
    color:white;
     font-weight: bold;

}
.weather-box{
     
     height: 90vh;
     
 }
∫